@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}
@media screen and (min-width: 1024px) {
    .head {
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
}
@media screen and (min-width: 1024px) {
    .llamada {
        background-image: url(../img/bg-intro.jpg);
        background-size: cover;

        padding-top: 8.25rem;
    }

    .llamada__titulo {
        font-size: 3.25rem;
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 1024px) {
    .diferenciales {
        background-color: var(--background-ceniza-claro);
    }
    .diferenciales__lista {
        justify-content: space-around;
    }
}
@media screen and (min-width: 1024px) {
    .institucional__contenido {
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: left;
    }

    .institucional__video {
        align-self: flex-end;

        width: 375px;
    }

    .institucional__contacto-email {
        display: block;
    }
}
@media screen and (min-width: 1024px) {
    .planes__tarjetas {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .tarjetas {
        max-width: 300px;
    }
}
@media screen and (min-width: 1024px) {
    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .footer__navegacion {
        text-align: left;
        min-width: 600px;
    }
}
@media screen and (min-width: 1024px) {
    .sobre_nosotros{
        display: flex;
        
    }
    .sobre-nosotros__contenido {
        margin-right: 3rem;
    }
    .sobre-nosotros__titulo {
        text-align: left;
        margin-top: 1.5rem;
    }
    .sobre-nosotros__texto--division {
        border-bottom: 1px solid var(--cinza-medio);
        padding-bottom: 1.5rem;
    }
    .sobre-nosotros__imagen {
        display: block;
        padding: 3rem;
        height: 350px;
    }
    
}